{% extends "base.html" %}

{% block pagetitle %} Jinja Samples {% endblock %}

{% block content %}

    <h3> React.render using Tags </h3>
    <div id='example'></div>
    <br /><br />
    <h3> React.render using Create Element </h3>
    <div id='exampleTwo'></div>
    
{% endblock %}

{% block jsimports %}

    <script type="text/jsx" src="{{url_for('static', filename='js/samples/5.js')}}"></script>
    <script type="text/jsx">
        var sample_data = [
            {'author':'Ali', 'post':'Lorem ipsum'},
            {'author':'Ruth', 'post':'Dolor sit amet'},
            {'author':'Andrew', 'post':'Consectetur Adipiscing Elit'}
        ]
        React.render(
            <PostBox data={sample_data} />,
            document.getElementById('example')
        );
        React.render(
            React.createElement(PostBox, {data: sample_data}),
            document.getElementById('exampleTwo')
        );
    </script>

{% endblock %}