{% extends "base.html" %}

{% block content %}
<h1>Shopping List</h1>
<table class="table">
    <tr>
        <th>INVENTORY</th>
    </tr>
    <tr>
        <th>List of Items</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    {% for item in items %}
    <form class='form-inline' method='post' action="{{url_for('carts.add_cart')}}">
    <tr> 
        <td>
            <div class='form-group'>
                <input class='form-control' type='text' name='item' placeholder='Name of Item' value='{{item['item']}}'/>
            </div>
        </td>
        <td>
            <div class='form-group'>
                <input class='form-control' type='number' min='0' name='price' placeholder='price' value='{{item['price']}}'/>
            </div>
            
        </td>
        <td>
                <div class='form-group'>
                    <input class='form-control' type='number' min='0' name='quantity' placeholder='Quantity of items' value='{{item['quantity']}}'/>
                </div>
        </td>
    </tr>
    {% endfor %}
</table>
        <input class='btn btn-primary' type='submit' name='add' value='Add To Cart' id='add'/>
    </form>
<table class="table">
    <tr>
        <th>CART</th>
    </tr>
    <tr>
        <th>List of Items</th>
        <th>Total Price</th>
    </tr>
    {% for item in items %}
    <tr> 
        <td>
            {{item['item']}}
        </td>
        <td>
            {{item['price']}}
        </td>
    </tr>
    {% endfor %}
</table>
<input class='btn btn-primary' type='submit' name='purchase' value='Purchase' id='purchase'/>


<h2>Add Items</h2>

{% with messages = get_flashed_messages(category_filter=["add_item_success"]) %}

    {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
    {% endfor %}

{% endwith%}
            <form class='' method='post' action="{{url_for('items.add_item')}}">
                <div class="form-group">
                    <label for='item'>Name of Item: </label>
                    <input class='form-control' type='text' name='item' placeholder='Add Item'/>
                </div>
                <div class="form-group">
                    <label for='price'>Price: </label>
                    <input class='form-control' type='number' name='price' placeholder='Input price'/>
                </div>
                <input class='btn btn-primary' type='submit' name='add' value='Add Item' id='add'/>
            </form>

{% endblock %}