{% extends "base.html" %}

{% block pagetitle %} Shopping List {% endblock %}

{% block content %}

    Total Price:
    <ul> 
    {% for item in items %}
        <li>{{item['price']}}*{{item['quantity']}}</li>
    {% endfor %}
    </ul>

{% endblock %}